:host {
    display: flex;
    inline-size: 10rem;
}

.text {
    inline-size: 100%;
    text-align: center;
    font-weight: bold;
}

.input,
.output {
    position: absolute;
    z-index: 1;
}

.input {
    inset-inline-start: -0.5rem;
    inset-block-start: 0.25rem;
}

.output-wrapper {
    position: relative;
}

.output {
    inset-inline-end: -0.5rem;
    inset-block: auto 0;
}
