.pan-position-demo {
    display: flex;
    gap: 1rem;

    &-item {
        display: flex;
        inline-size: 50%;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
    }
}

[tuiNotification] {
    margin-block: 1rem;
}

@media (max-width: 47.9375rem) {
    .pan-position-demo {
        flex-direction: column;

        &-item {
            inline-size: 100%;
        }
    }
}
