<tui-doc-page header="Connectors">
    <p>
        Connectors play a pivotal role in defining the interactions within a node-based flow architecture. They form the
        interactive endpoints for establishing relationships between different nodes in the system.
    </p>
    <h3>Input Connectors (df-input)</h3>
    <p>
        To ensure the correct functioning and tracking of connections, input connectors require specific parameters to
        be passed via the
        <code>[connectorData]</code>
        parameter. These parameters include
        <code>nodeId</code>
        and
        <code>connectorId</code>
        .
    </p>
    <p>
        <code>nodeId</code>
        is the unique identifier of the node, while
        <code>connectorId</code>
        uniquely identifies the connector within that node. The
        <code>single</code>
        parameter dictates whether the input connector can accept multiple connections or just one. If
        <code>single</code>
        is set to
        <b>true</b>
        , it means that once a connection is made to this input connector, no additional connections will be accepted.
    </p>
    <h3>Output Connectors (df-output)</h3>
    <p>
        Similarly, output connectors are the points from which connections originate to other node&#39;s input
        connectors. Much like input connectors, output connectors also require the
        <code>nodeId</code>
        and
        <code>connectorId</code>
        parameters for identification and functionality purposes. The
        <code>single</code>
        parameter, when set to true for an output connector, restricts it to create only one connection to another node,
        ensuring a one-to-one relationship.
    </p>
    <h2>Customizing Connectors</h2>
    <p>
        The color of the connectors, can be customized to fit the design requirements of your application. This is
        achieved by altering CSS custom properties:
    </p>
    <ul class="tui-list tui-list_extra-small">
        <li class="tui-list__item">
            <code>--df-connector-color</code>
            : This property controls the default color of the connectors. By setting this variable, you can ensure that
            all connectors in your application adhere to a consistent color scheme that matches your branding or design
            specifications.
        </li>
        <li class="tui-list__item">
            <code>--df-connector-color-hover</code>
            : When a user hovers over a connector, this property determines the color that the connector will change to.
            This interactive feedback is important for user experience, making it clear which connector is currently
            under consideration for connection creation.
        </li>
    </ul>
</tui-doc-page>
