@if (!startNode) {
    <df-input
        class="input"
        [connectorData]="{nodeId, connectorId: nodeId + '-input-1', single: false}"
    />
}

<div class="tui-space_bottom-4 tui-text_body-s">
    {{ model.text }}
</div>

<form
    tuiTheme="light"
    [formGroup]="form"
>
    @for (fieldName of fieldNames; track fieldName; let i = $index) {
        <div [formGroupName]="fieldName">
            <div class="field tui-space_bottom-4">
                <tui-textfield
                    tuiTextfieldSize="s"
                    tuiTheme="light"
                >
                    <input
                        formControlName="fieldValue"
                        tuiInput
                    />
                </tui-textfield>
                @if (!!getConnectorId(fieldName)) {
                    <df-output
                        class="output"
                        [connectorData]="{nodeId, connectorId: getConnectorId(fieldName)!, single: false}"
                    />
                }
            </div>
        </div>
    }
</form>

<button
    size="s"
    tuiButton
    type="button"
    (click)="add()"
>
    Add field
</button>
