<df-input
    *ngIf="!startNode"
    class="input"
    [connectorData]="{nodeId, connectorId: nodeId + '-input-1', single: false}"
/>

<div class="tui-space_bottom-4 tui-text_body-s">
    {{ model.text }}
</div>

<form
    tuiTheme="light"
    [formGroup]="form"
>
    <div
        *ngFor="let fieldName of fieldNames; let i = index"
        [formGroupName]="fieldName"
    >
        <div class="field tui-space_bottom-4">
            <tui-input
                formControlName="fieldValue"
                [tuiTextfieldSize]="'s'"
            />

            <ng-container *ngIf="!!getConnectorId(fieldName)">
                <df-output
                    class="output"
                    [connectorData]="{nodeId, connectorId: getConnectorId(fieldName)!, single: false}"
                />
            </ng-container>
        </div>
    </div>
</form>

<button
    size="s"
    tuiButton
    type="button"
    (click)="add()"
>
    Add field
</button>
