:host {
    display: block;
    inline-size: 12.5rem;
    min-block-size: 2.5rem;
}

.field {
    position: relative;
    display: flex;
    align-items: center;

    .text-field {
        inline-size: 100%;
    }
}

.input,
.output {
    position: absolute;
    z-index: 1;
}

.input {
    inset-inline-start: -0.5rem;
    inset-block-start: 0.25rem;
}

.output-wrapper {
    position: relative;
}

.output {
    inset-inline-end: -0.5rem;
    inset-block-start: 0.75rem;
}
