.container {
    display: flex;
    align-items: center;
    inline-size: 100%;

    :host-context(tui-root._mobile) {
        font-size: 0;
    }
}

.logo-link {
    display: flex;
}

.logo-name {
    display: flex;
    color: var(--tui-text-primary);
}

.logo {
    margin-right: 0.625rem;
    inline-size: 2rem;
    block-size: 2rem;
}

.by {
    margin-left: 0.875rem;

    :host-context(tui-root._mobile) & {
        display: none;
    }
}

.github-link {
    // pushing the github button to the right
    position: absolute;
    top: 50%;
    right: 2rem; // width of Dark-Mode-Button
    display: flex;
    margin-right: 2rem;
    transform: translateY(-50%);
}
