<df-input
    *ngIf="!startNode"
    class="input"
    [connectorData]="{nodeId, connectorId: nodeId + '-input-1', single: false}"
/>

<div class="u-ta-center">
    <div class="container">
        <a
            routerLink="/"
            tuiLink
            class="logo-link"
        >
            <img
                alt="ng-draw-flow logo"
                src="assets/icons/logo.svg"
                class="w-12"
            />
        </a>
        <h2 class="tui-space_bottom-0 tui-space_top-0">{{ model.title }}</h2>
        <p class="tui-space_bottom-0 tui-space_top-0 u-color-gray">{{ model.subTitle }}</p>
    </div>

    <df-output
        *ngIf="!endNode"
        class="output"
        [connectorData]="{nodeId, connectorId: nodeId + '-output-1', single: false}"
    />
</div>
