<df-input
    *ngIf="!startNode"
    class="input"
    [connectorData]="{nodeId, connectorId: nodeId + '-input-1', single: false}"
/>

<div class="text-center">
    <div class="container">
        <a
            routerLink="/"
            tuiLink
            class="logo-link"
        >
            <img
                alt="ng-draw-flow logo"
                src="assets/icons/logo.svg"
                class="w-12"
            />
        </a>
        <h2 class="mb-0 mt-0">{{ model.title }}</h2>
        <p class="mt-0 gray">{{ model.subTitle }}</p>
    </div>

    <df-output
        *ngIf="!endNode"
        class="output"
        [connectorData]="{nodeId, connectorId: nodeId + '-output-1', single: false}"
    />
</div>
