.editor {
    position: relative;
    block-size: 31.25rem;
    inline-size: 100%;
    margin: 0 auto;
    background: #fff;

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        inline-size: 100%;
        block-size: 100%;
        background-color: #fff;

        .add {
            top: 5rem;
        }

        .fullscreen-btn {
            top: 7.8rem;
        }
    }
}

.add {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
}

.fullscreen-btn {
    position: absolute;
    right: 1.25rem;
    top: 3.75rem;
}

.scale-controls {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    display: flex;
    align-items: center;
}

.scale-value {
    inline-size: 3.125rem;
    text-align: center;
    color: #333;
}
