<div class="page-container">
    <div class="editor">
        <div
            class="editor"
            [ngClass]="{fullscreen: fullscreen$ | async}"
        >
            <ng-draw-flow
                [formControl]="form"
                (connectionCreated)="onConnectionCreated($event)"
                (connectionDeleted)="onConnectionDeleted($event)"
                (connectionSelected)="onConnectionSelected($event)"
                (nodeDeleted)="onNodeDeleted($event)"
                (nodeMoved)="onNodeMoved($event)"
                (nodeSelected)="onNodeSelected($event)"
                (scale)="onScaleChange($event)"
            />

            <div class="title">
                <app-title-node />
            </div>

            <div class="edit-controls">
                <button
                    size="s"
                    tuiButton
                    type="button"
                    class="add-btn"
                    (click)="addNodeToDrawFlow()"
                >
                    Add node
                </button>

                <button
                    size="s"
                    tuiButton
                    type="button"
                    class="fullscreen-btn"
                    (click)="toggleFullscreen()"
                >
                    {{ (fullscreen$ | async) ? 'Exit from fullscreen' : 'Fullscreen' }}
                </button>
            </div>

            <div class="scale-controls">
                <button
                    size="s"
                    tuiButton
                    type="button"
                    (click)="editor?.zoomOut()"
                >
                    zoomOut
                </button>

                <div class="scale-value">{{ currentScale$ | async }}%</div>

                <button
                    size="s"
                    tuiButton
                    type="button"
                    (click)="editor?.zoomIn()"
                >
                    zomIn
                </button>
            </div>
        </div>
    </div>
</div>
