<df-output
    class="output output_left"
    [connectorData]="{nodeId, connectorId: nodeId + '-output-1', single: false}"
    [position]="connectorPosition.Left"
/>

<df-output
    class="output output_top"
    [connectorData]="{nodeId, connectorId: nodeId + '-output-2', single: false}"
    [position]="connectorPosition.Top"
/>

<p class="tui-text_body-xs">{{ model.text }}</p>

<df-output
    class="output output_right"
    [connectorData]="{nodeId, connectorId: nodeId + '-output-3', single: false}"
    [position]="connectorPosition.Right"
/>

<df-output
    class="output output_bottom"
    [connectorData]="{nodeId, connectorId: nodeId + '-output-4', single: false}"
    [position]="connectorPosition.Bottom"
/>
