<p class="tui-text_body-xs">
    This node is your first step towards mastering the powerful features of our editor. Feel free to move nodes and
    connections around to better organize your graphs.
</p>

<p class="tui-text_body-xs">Deleting Elements:</p>

<ul class="tui-list tui-list_extra-small">
    <li class="tui-list__item">Select the node or connection you wish to remove.</li>
    <li class="tui-list__item">
        Press the
        <b>Backspace</b>
        or
        <b>Delete</b>
        key.
    </li>
</ul>

<p class="tui-text_body-xs">Explore, experiment, and create complex data structures with ease!</p>
