name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.0
      - uses: taiga-family/ci/actions/setup/variables@v1.152.0
      - uses: taiga-family/ci/actions/setup/node@v1.152.0

      - name: Run tests
        run: npx nx run-many --target test --all --coverage

      - name: Archive coverage artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: coverage-${{ github.workflow }}-${{ github.run_id }}
          path: coverage

  codecov:
    name: Collect coverage
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.0
      - uses: actions/download-artifact@v4.3.0
        with:
          name: coverage-${{ github.workflow }}-${{ github.run_id }}
          path: coverage

      - name: Display structure of coverage files
        run: tree -L 2 ./coverage -P 'lcov.info'

      - uses: codecov/codecov-action@v5.5.0
        with:
          directory: ./coverage/projects/ng-draw-flow/
          flags: summary,ng-draw-flow
          name: ng-draw-flow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
